# Maven's target directory
/target/

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea
.idea/
*.iml
*.ipr

# VS Code settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db